ARIZE_API_KEY=
ARIZE_PROJECT_NAME=
ARIZE_SPACE_ID=

GEMINI_API_KEY=
SERPER_API_KEY=

MONGODB_CONNECTION_STRING=
MONGODB_DATABASE_NAME=
MONGODB_COLLECTION_NAME=

DEPLOYMENT_URL=
DEPLOYMENT_KEY=

DISPATCHER_URL=
DISPATCHER_KEY=

# Dev only
CREWAI_TRACING_ENABLED=true
